In [1]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
%load_ext sql
%sql postgresql://username:password@hostname:port/database

# Create the cc_dashboard table
%%sql
CREATE TABLE public.cc_dashboard AS
SELECT
    ord.order_id,
    CONCAT(cus.first_name, ' ', cus.last_name) AS customers,
    cus.city,
    cus.state,
    ord.order_date,
    SUM(ite.quantity) AS total_units,
    SUM(ite.quantity * ite.list_price) AS revenue,
    pro.product_name,
    cat.category_name,
    sto.store_name,
    CONCAT(sta.first_name, ' ', sta.last_name) AS sales_rep
FROM
    sales.orders ord
    JOIN sales.customers cus ON ord.customer_id = cus.customer_id
    JOIN sales.order_items ite ON ord.order_id = ite.order_id
    JOIN production.products pro ON ite.product_id = pro.product_id
    JOIN production.categories cat ON pro.category_id = cat.category_id
    JOIN sales.stores sto ON ord.store_id = sto.store_id
    JOIN sales.staffs sta ON ord.staff_id = sta.staff_id
GROUP BY
    ord.order_id,
    customers,
    cus.city,
    cus.state,
    ord.order_date,
    pro.product_name,
    cat.category_name,
    sto.store_name,
    sales_rep;

# Load the cc_dashboard table into a Pandas DataFrame
%sql SELECT * FROM public.cc_dashboard

# Perform some basic data analysis
# Total revenue by product category
category_revenue = df.groupby('category_name')['revenue'].sum().sort_values(ascending=False)
category_revenue.plot(kind='bar', figsize=(12, 6))
plt.title('Total Revenue by Product Category')
plt.xlabel('Category Name')
plt.ylabel('Revenue')
plt.show()

# Top 10 customers by revenue
top_customers = df.groupby('customers')['revenue'].sum().sort_values(ascending=False).head(10)
top_customers.plot(kind='bar', figsize=(12, 6))
plt.title('Top 10 Customers by Revenue')
plt.xlabel('Customer Name')
plt.ylabel('Revenue')
plt.show()

# Revenue by state
state_revenue = df.groupby('state')['revenue'].sum().sort_values(ascending=False)
state_revenue.plot(kind='bar', figsize=(12, 6))
plt.title('Total Revenue by State')
plt.xlabel('State')
plt.ylabel('Revenue')
plt.show()

SyntaxError: invalid syntax (318342654.py, line 9)